.accordion__item {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid $light-grey;

  @media (max-width: $max-mobile-width) {
    padding-bottom: 16px;
    margin-bottom: 22px;
    padding-top: 0;
  }

  svg {
    width: 15px;
    height: 8px;
  }

  &--active {
    .accordion__item-content {
      display: block;
    }

    svg {
      transform: rotate(180deg);
    }
  }

  span {
    font-size: 28px;
    line-height: 48px;
    font-weight: 700;
    background: linear-gradient(to right, $yellow 0%, $yellow-2 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 17px;

    @media (max-width: $max-mobile-width) {
      margin-right: 10px;
    }
  }
}

.accordion__item-trigger {
  font-size: 17px;
  line-height: 26px;
  display: flex;
  align-items: baseline;
  width: 100%;
  position: relative;
  //margin-bottom: 20px;

  @media (max-width: $max-mobile-width) {
    font-size: 16px;
  }

  svg {
    margin-left: auto;
    fill: $white;
    cursor: pointer;
    transform: scale(1.2);

    &:hover {
      opacity: 0.7;
      transition: 0.3s ease;
    }
  }
}

.accordion__item-content {
  font-size: 15px;
  line-height: 21px;
  display: none;
  padding-top: 15px;
  padding-right: 20px;
  opacity: 0.74;

  @media (max-width: $max-mobile-width) {
    font-size: 14px;
    line-height: 22px;
    padding-top: 18px;
  }
}
