.button {
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(to bottom right, #ffc341 0%, #ffd701 100%);
  width: 264px;
  padding-top: 19px;
  padding-bottom: 20px;
  border-radius: 100px;
  margin: 0 auto;
  display: block;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(00, 00, 00, 0.25);
  //box-shadow: 0 4px 4px rgba(00, 00, 00, 0.25);
  margin-bottom: 24px;
  margin-top: 16px;

  &:active {
    background: radial-gradient(#ffc341, #ffd701);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }
}
