.callback-form {
  color: $black;

  label {
    font-size: 15px;
    line-height: 25px;

    @media (max-width: $max-mobile-width) {
      font-size: 13px;
      line-height: 19px;
    }
  }

  .callback-form__checkbox-label {
    position: relative;
    cursor: pointer;
    padding-left: 40px;
    display: block;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      left: 15px;
      width: 16px;
      height: 16px;
      border: 2px solid #ffc341;
      border-image: linear-gradient(to right top, #ffd701, #ffc341, #ffd701);
      border-radius: 2px;
      border-image-slice: 1;
    }
  }

  .callback-form__checkbox:checked + label {
    position: relative;

    &::before {
      content: url("../img/icon-tick.svg");
      fill: black;
      //fill: transparent;
      position: absolute;
      top: 2px;
      left: 17px;
      z-index: 11;
    }
  }
}
