.howto {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../img/bg-howto-desktop@1x.png"), url("../img/trip-watercolor-bg-desktop@1x.png"), url("../img/stamp-desktop@1x.png");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 43%, 85%, 15%;
  background-position: 11px 160px, center left, center right;
  padding: 195px 131px 180px 680px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-howto-desktop@2x.png"), url("../img/trip-watercolor-bg-desktop@2x.png"), url("../img/stamp-desktop@2x.png");
  }

  @media (min-width: 1024px) and (max-width: 1250px) {
    padding-left: 550px;
    padding-right: 100px;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 20px;
    //padding-left: 300px;
  }

  @media (max-width: $max-mobile-width) {
    background-image: none;
    padding: 50px 16px;
  }

  h2 {
    @include reset;
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    color: $blue;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 24px;
    padding-left: 20px;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      text-align: center;
    }

    @media (max-width: $max-mobile-width) {
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
  }

  p {
    @include reset;
    padding-left: 20px;
    font-size: 15px;
    line-height: 25px;
    margin-bottom: 32px;
    padding-right: 46px;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      text-align: center;
    }

    @media (max-width: $max-mobile-width) {
      font-size: 14px;
      line-height: 22px;
      text-align: left;
    }
  }

  .howto__condition {
    font-size: 17px;
    line-height: 29px;
    font-weight: 700;
    margin-bottom: 16px;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      margin-left: auto;
      text-align: right;
      width: 350px;
    }

    @media (max-width: $max-mobile-width) {
      font-size: 16px;
      line-height: 26px;
    }
  }

  ul {
    @include list-reset;
    padding-right: 46px;
    position: relative;

    &::before {
      //background-image: linear-gradient(90deg, grey, grey 50%, transparent 50%, transparent 100%);
      background: repeating-linear-gradient(to bottom, transparent 0 6px, $light-grey 6px 12px) 80%/2px 100% no-repeat;
      //background-size: 20px 1px;
      //background-repeat: no-repeat;
      position: absolute;
      width: 10px;
      height: 270px;
      content: "";
      display: block;
      left: 16px;
      top: 20px;
      z-index: 100;
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      margin-left: auto;
      text-align: right;
      width: 400px;
    }

    li {
      margin-bottom: 20px;
      font-size: 15px;
      line-height: 21px;
      //position: relative;
      display: flex;
      align-items: center;

      @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
        margin-bottom: 20px;
        text-align: left;
      }

      @media (max-width: $max-mobile-width) {
        font-size: 14px;
        line-height: 22px;
      }
    }

    span {
      margin-right: 20px;
      color: $yellow;
      font-size: 17px;
      line-height: 29px;
      font-weight: 700;
      z-index: 100;
      //display: block;
      border-radius: 100px;
      padding: 14px 18px;
      background: white;
      box-shadow: 0 4px 4px rgba(00, 00, 00, 0.1);
    }
  }

  .howto__note {
    opacity: 0.5;
    padding-left: 30px;
    position: relative;
    padding-right: 0;
    margin-top: 30px;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      text-align: left;
    }

    &::before {
      content: "";
      display: block;
      width: 4px;
      height: 42px;
      background: linear-gradient(to right, #ffc341 0%, #ffd701 100%);
      position: absolute;
      left: 20px;
      top: 5px;

      @media (max-width: $max-mobile-width) {
        height: 88px;
      }
    }
  }
}
