input {
  padding: 18px 0 19px 40px;
  border-radius: 100px;
  border: 1px solid $light-grey;
  font-family: "firasans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 8px;
  width: 100%;

  &:focus {
    border: 1px solid $yellow;
    color: $black;
  }

  &--invalid {
    border: 1px solid $red;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }

  &::placeholder {
    color: $black;
    opacity: 0.5;
  }
}
