.internship {
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 104px;
  padding-right: 110px;
  padding-bottom: 100px;
  background-image: url("../img/life-watercolor-bg-desktop@1x.png"), url("../img/compass-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 100%, 7%;
  background-position: center right, right 500px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/life-watercolor-bg-desktop@2x.png"), url("../img/compass-desktop@2x.png");
  }

  @media (min-width: 1024px) and (max-width: 1250px) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 20px;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }

  h2 {
    @include reset;
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    color: $blue;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;

    @media (max-width: $max-mobile-width) {
      font-size: 32px;
      line-height: 39px;
      text-align: center;
      width: 200px;
      margin: 0 auto;
    }
  }

  p {
    font-size: 17px;
    line-height: 29px;
    margin-left: 207px;
    margin-right: 222px;
    text-align: right;

    @media (min-width: 1024px) and (max-width: 1250px) {
      text-align: center;
      margin-left: 200px;
      margin-right: 200px;
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      margin: 0 auto;
      text-align: center;
    }

    @media (max-width: $max-mobile-width) {
      margin: 0 auto;
      text-align: left;
      font-size: 16px;
      line-height: 26px;
    }
  }
}

.internship__picture-container {
  width: 100%;

  @media (max-width: $max-mobile-width) {
    padding-bottom: 40px;
  }
}

.internship__picture-wrapper {
  display: grid;
  //grid-gap: 5px;
  //grid-template-columns: 241px 241px 214px 200px 214px;
  grid-template-columns: 241px 241px 223px 223px 223px;
  grid-template-rows: 366px 366px;

  @media (min-width: 1024px) and (max-width: 1200px) {
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 0;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    grid-gap: 0;
    //grid-template-columns: 182px 182px 182px 182px;
    grid-template-columns: 33% 33% 33%;
    //@at-root: 366px 366px;
    grid-template-rows: 50% 50%;
  }

  @media (max-width: $max-mobile-width) {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  figure {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    //justify-content: end;
    position: relative;

    @media (max-width: $max-mobile-width) {
      width: 288px;
      margin: 0 auto;
    }

    figcaption {
      font-family: "raleway", "Arial", sans-serif;
      position: absolute;
      left: 25px;
      bottom: 75px;
      font-size: 21px;
      line-height: 25px;
      font-weight: 900;
      color: white;

      @media (max-width: $max-mobile-width) {
        bottom: 20px;
        left: 20px;
        //transform: translateX(-50%);
        width: 50%;
        text-align: center;
      }

      @media (min-width: $min-mobile-width) {
        left: 50%;
        transform: translateX(-50%);
        width: 50%;
      }
    }
  }
}

.internship__pagination {
  display: none;

  @media (max-width: $max-mobile-width) {
    display: block;

    span {
      width: 6px;
      height: 6px;
      border-radius: 10px;
      background-color: grey;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      width: 8px;
      height: 8px;
      background: linear-gradient(to bottom right, #ffc341 0%, #ffd701 100%);
    }
  }
}

.internship__picture-box {
  display: flex;

  img {
    @media (min-width: 1024px) and (max-width: 1250px) {
      transform: scale(0.9);
    }

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      width: 288px;
      height: 400px;
      transform: scale(0.8);
    }
  }

  @media (max-width: $max-mobile-width) {
    width: 288px;
    margin: 0 auto;
    display: flex;
    //justify-content: flex-end;
    justify-content: center;

    img {
      max-width: none;
      width: 288px;
      height: 400px;
    }
  }

  &--excursion {
    grid-column: 1 / 3;
    grid-row: 1 / 3;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      grid-column: 1;
      grid-row: 1 / 3;
      width: 242px;
    }
  }

  &--hebrew {
    grid-column: 3;
    grid-row: 1;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      grid-column: 2;
      grid-row: 1;
    }
  }

  &--skills {
    grid-column: 4 / 6;
    grid-row: 1;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      grid-column: 3;
      grid-row: 1;

      img {
        width: 211px;
      }
    }
  }

  &--creative {
    grid-column: 3 / 5;
    grid-row: 2;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      grid-column: 2;
      grid-row: 2;

      img {
        width: 211px;
      }
    }
  }

  &--leadership {
    grid-column: 5 / 6;
    grid-row: 2;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      grid-column: 3;
      grid-row: 2;
    }
  }
}
