.masaisrael {
  background-image: url("../img/masaisrael-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/masaisrael-desktop@2x.png");
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/masaisrael-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center 60px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/masaisrael-mobile@2x.png");
    }
  }
}

.masaisrael__container {
  padding: 120px 167px 200px 795px;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: 1024px) and (max-width: 1250px) {
    padding-left: 650px;
    padding-right: 100px;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 100px 50px 100px 380px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 16px 13px 64px 11px;
  }

  h2 {
    @include reset;
    @include title ($font-40, $height-49, $bold, $blue);
    font-family: "montserrat", "Arial", sans-serif;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 25px;
    padding-left: 3px;

    @media (max-width: $max-mobile-width) {
      text-align: center;
      margin-bottom: 96px;
    }
  }

  p {
    @include reset;
    font-size: 17px;
    line-height: 29px;
    text-align: left;
    color: $white;
    margin-bottom: 48px;
    padding-left: 3px;

    @media (max-width: $max-mobile-width) {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 56px;
      padding: 0 11px 0 13px;
    }
  }
}

.masaisrael__button {
  margin: 0;
  display: flex;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 42px;
  color: $white;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 21px;

  @media (max-width: $max-mobile-width) {
    max-width: 264px;
    margin: 0 auto;
    padding-left: 60px;
    padding-right: 56px;
  }

  svg {
    fill: $white;
    margin-right: 10px;

    @media (max-width: $max-mobile-width) {
      margin-right: 10px;
    }
  }
}
