.masaisrael {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url("../img/masaisrael-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  padding: 115px 167px 200px 795px;
  display: flex;
  flex-wrap: wrap;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/masaisrael-desktop@2x.png");
  }

  @media (min-width: 1024px) and (max-width: 1250px) {
    padding-left: 650px;
    padding-right: 100px;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 20px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 500px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 16px;
    background-image: url("../img/masaisrael-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    padding-bottom: 20px;
  }

  h2 {
    @include reset;
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    color: $blue;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 20px;

    @media (max-width: $max-mobile-width) {
      text-align: center;
      margin-bottom: 100px;
      //width: 200px;
      //margin: 0 auto;
    }
  }

  p {
    @include reset;
    font-size: 17px;
    line-height: 29px;
    text-align: left;
    color: white;
    margin-bottom: 50px;

    @media (max-width: $max-mobile-width) {
      //margin-top: 200px;
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 80px;
    }
  }

  .button {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 26px;

    a {
      color: white;
      text-transform: uppercase;
      font-size: 17px;
      line-height: 20px;
      font-weight: 500;
    }

    svg {
      fill: white;
      margin-right: 20px;
    }
  }
}
