.page-footer {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 114px;
  padding-right: 114px;

  p {
    @include reset;
    font-size: 12px;
    line-height: 18px;
    padding-left: 45px;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  ul {
    @include list-reset;
    display: flex;

    li {
      margin-left: 28px;
    }

    svg {
      fill: grey;
      opacity: 0.5;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 32px;
    padding-bottom: 36px;
    flex-direction: column;
  }
}
