.page-footer {
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 114px;
  padding-right: 114px;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  ul {
    @include list-reset;
    display: flex;

    li {
      margin-right: 28px;
    }
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 32px;
    padding-bottom: 36px;
    flex-direction: column;
  }
}
