.page-header {
  background-color: $brown;
  background-image: url("../img/intro-bg-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-bg-desktop@2x.jpg");
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    height: 600px;
    background-image: url("../img/intro-bg-desktop@1x.jpg");
    background-position: center center;
    background-size: 120%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-bg-desktop@2x.jpg");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/intro-bg-mobile@1x.jpg");
    background-size: 100%;
    background-position: center 20px;
    background-color: unset;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-bg-mobile@2x.jpg");
    }
  }
}

.page-header__container {
  position: relative;
  height: 897px;
  padding: 47px 114px 0 110px;

  @media (max-width: $max-mobile-width) {
    height: 616px;
    padding: 20px 7px 0 16px;
  }

  h1 {
    @include title ($font-24, $height-29, $bold, $white);
    text-align: center;
    width: 343px;
    margin: 465px auto 45px;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      margin: 270px auto 30px;
    }

    @media (max-width: $max-mobile-width) {
      width: 100%;
      margin: 267px auto 42px;
      font-size: 20px;
      line-height: 24px;
      padding-right: 9px;
    }
  }
}

.page-header__button {
  width: 56px;
  height: 56px;
  padding: 15px 15px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid $white;
  margin: 0 auto;
  display: block;
  position: relative;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px $white;

    img {
      box-shadow: 0 0 10px $white;
    }
  }

  @media (max-width: $max-mobile-width) {
    margin: 0;
    margin-left: 117px;
    //padding-right: 20px;
  }

  &::before {
    --d: 5deg;
    /* distance between dashes */
    --n: 30;
    /* number of dashes */
    --c: #ffffff;
    /* color of dashes */
    --b: 2px;
    /* control the thickness of border*/

    content: "";
    z-index: 100;
    height: 76px;
    width: 76px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    background: repeating-conic-gradient(var(--c) 0 calc(360deg / var(--n) - var(--d)), transparent 0 calc(360deg / var(--n)));
    mask: radial-gradient(farthest-side, transparent calc(100% - var(--b)), #ffffff calc(100% - var(--b) + 1px));
  }

  &::after {
    content: "";
    height: 50px;
    width: 1px;
    top: 65px;
    position: absolute;
    left: 27px;
    display: block;
    background: linear-gradient($white, $white) 4px 3px/1px 40px;
  }
}

.page-header__phone-links {
  display: flex;
  //justify-content: space-between;
  width: 100%;
  font-size: 15px;
  line-height: 18px;

  a {
    color: $black;
    margin-right: 40px;

    &:hover,
    &:focus {
      opacity: 0.5;
      transition: 0.5s ease;
    }

    @media (max-width: $max-mobile-width) {
      margin-left: auto;
      margin-right: 0;
    }
  }

  a:last-child {
    margin-left: auto;
    margin-right: 0;

    @media (max-width: $max-mobile-width) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  @media (max-width: $max-mobile-width) {
    width: 50%;
    flex-wrap: wrap;
  }

  .page-header__callback-link {
    color: $black;
    border-bottom: 1px dashed $black;
    display: inline;

    &:hover {
      opacity: 1;
      transform: scale(1.1);
      transition: 0.5s ease;
    }

    @media (max-width: $max-mobile-width) {
      width: auto;
      align-self: end;
    }
  }
}

.page-header__site-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
    align-items: unset;
  }
}

.page-header__logo {
  margin: -40px auto 0;
  height: 48px;

  @media (max-width: $max-mobile-width) {
    order: -1;
    width: 50%;
    margin-top: 0;
  }

  img {
    margin-top: 8px;

    @media (max-width: $max-mobile-width) {
      width: 120px;
      height: 42px;
      margin-top: 0;
    }
  }
}
