.popup {
  width: 480px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 32px 32px 40px 48px;
  border-radius: 8px;
  color: $black;
  box-shadow: 0 4px 4px rgba(00, 00, 00, 0.25);

  @media (max-width: $max-mobile-width) {
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    top: 0;
    left: 0;
    transform: none;
    padding: 24px 16px 292px 16px;
  }

  .popup__close {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    overflow: visible;
    z-index: 10;
    margin-left: auto;
    display: block;

    &::before {
      content: url("../img/icon-close.png");
    }
  }

  p {
    margin-top: 0;
    font-size: 15px;
    line-height: 25px;

    @media (max-width: $max-mobile-width) {
      font-size: 14px;
      line-height: 22px;
    }
  }

  h3 {
    font-size: 28px;
    line-height: 34px;
    font-weight: 700;
    color: $blue;
    letter-spacing: -2%;
    margin: 0;
    margin-bottom: 16px;

    @media (max-width: $max-mobile-width) {
      font-size: 24px;
      line-height: 29px;
    }
  }

  &--callback {
    //display: block;
    display: none;
    z-index: 110;

    &--show {
      display: block;
    }

    p {
      padding-right: 40px;
    }

    @media (max-width: $max-mobile-width) {
      h3 {
        margin-top: 128px;
      }

      p {
        padding-right: 0;
      }

      h3,
      p {
        text-align: center;
      }
    }
  }

  &--success {
    display: none;
    //display: block;

    &--show {
      display: block;
    }

    img {
      display: block;
      margin: 0 auto;
      margin-top: 100px;
      margin-bottom: 20px;
    }

    h3,
    p {
      text-align: center;
    }

    p {
      display: block;
      width: 360px;
      margin: 0 auto;

      @media (max-width: $max-mobile-width) {
        width: 100%;
      }
    }
  }
}
