.program {
  padding-top: 104px;
  padding-left: 210px;
  padding-right: 304px;
  padding-bottom: 104px;
  background-image: url("../img/sketch-bg-desktop@1x.png");
  background-repeat: no-repeat;
  //background-size: cover;
  background-size: 60%;
  background-position: top right;
  //padding-left: 248px;
  //padding-right: 248px;

  flex-direction: row;
  flex-wrap: nowrap;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/sketch-bg-desktop@2x.png");
  }

  h2 {
    @include reset;
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    color: $blue;
    letter-spacing: -2px;
    text-transform: uppercase;

    @media (max-width: $max-mobile-width) {
      font-size: 32px;
      line-height: 39px;
    }
  }

  h3 {
    @include reset;
    font-size: 28px;
    font-family: "montserrat", "Arial", sans-serif;
    line-height: 34px;
    font-weight: 700;
    color: $blue;
    letter-spacing: -2px;
  }

  p {
    font-size: 15px;
    line-height: 25px;
  }
}

.program__container {
  display: flex;
}

.program__item {
  display: none;

  &--active {
    display: block;
  }
}

.program__choice {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 50px;
}

.program__choice-item {
  border: none;
  outline: none;
  cursor: pointer;
  //background: linear-gradient(to right, white 0%, white 100%);
  width: 210px;
  height: 68px;
  position: relative;
  margin-right: 30px;
  padding: 0;
  font-size: 15px;
  line-height: 25px;
  //text-align: right;
  padding-left: 50px;

  &--active {
    background: linear-gradient(to right, #ffc341 0%, #ffd701 100%);
    color: white;

    &:hover {
      color: white;
    }

    &::after {
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      top: 0;
      right: -25px;
      border-left: 26px solid #ffd701;
      border-top: 34px solid transparent;
      border-bottom: 34px solid transparent;
    }
  }

  /*
  &:hover {
    background: linear-gradient(to right, #ffc341 0%, #ffd701 100%);
    //background-repeat: no-repeat;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  */
  /*
  &--general {
    &::before {
      content: url("../img/png-sprite.png");
      //display: inline-block;
      position: absolute;
      width: 28px;
      height: 33px;
      top: -250px;
      left: 20px;
      //background: url("../img/png-sprite.png") no-repeat;
      overflow: hidden;
      //background-position: 0 -267px;
    }
  }
  */

  &--general {
    background: url("../img/sprite-black.png") 10px -164px;
    background-repeat: no-repeat;

    &:hover {
      background: url("../img/sprite-yellow.png") 10px -164px, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &--academic {
    background: url("../img/sprite-black.png") 10px -230px;
    background-repeat: no-repeat;
    background-color: transparent;

    &:hover {
      background: url("../img/sprite-yellow.png") 10px -230px, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &--internship {
    background: url("../img/sprite-black.png") 10px 5px;
    background-repeat: no-repeat;
    background-color: transparent;

    &:hover {
      background: url("../img/sprite-yellow.png") 10px 5px, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &--volunteering {
    background: url("../img/sprite-black.png") 10px -115px;
    background-repeat: no-repeat;
    background-color: transparent;

    &:hover {
      background: url("../img/sprite-yellow.png") 10px -115px, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &--religious {
    background: url("../img/sprite-black.png") 10px -50px;
    background-repeat: no-repeat;
    background-color: transparent;

    &:hover {
      background: url("../img/sprite-yellow.png") 10px -50px, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
      background-repeat: no-repeat;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.program__choice-item--general.program__choice-item--active {
  background: url("../img/sprite-white.png") 15px -145px no-repeat, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
  text-transform: uppercase;
  color: white;

  &:hover {
    color: white;
  }
}

.program__choice-item--academic.program__choice-item--active {
  background: url("../img/sprite-white.png") 10px -200px no-repeat, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
  text-transform: uppercase;
  color: white;
}

.program__choice-item--internship.program__choice-item--active {
  background: url("../img/sprite-white.png") 10px 10px no-repeat, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
  text-transform: uppercase;
  color: white;
}

.program__choice-item--volunteering.program__choice-item--active {
  background: url("../img/sprite-white.png") 10px -95px no-repeat, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
  text-transform: uppercase;
  color: white;
}

.program__choice-item--religious.program__choice-item--active {
  background: url("../img/sprite-white.png") 10px -37px no-repeat, linear-gradient(to right, #ffc341 0%, #ffd701 100%);
  text-transform: uppercase;
  color: white;
  //overflow: hidden;
  //background-size: 23px 25px, 100%;
}
