.request {
  max-width: 1366px;
  margin: 0 auto;
  padding-top: 210px;
  padding-left: 210px;
  padding-right: 679px;
  padding-bottom: 120px;
  background-image: url("../img/girl-flag-bg-desktop@1x.jpg"), url("../img/backpack-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 60%, 10%;
  background-position: right top, center left;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/girl-flag-bg-desktop@2x.png"), url("../img/backpack-desktop@2x.png");
  }

  @media (min-width: 1024px) and (max-width: 1250px) {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 500px;
  }

  /*
  @media (min-width: 769px) and (max-width: 900px) {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 300px;
  }*/

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding: 100px;
    padding-right: 300px;
    padding-top: 0;
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/girl-flag-bg-mobile@1x.jpg"), url("../img/backpack-mobile@1x.png");
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 10%;
    background-position: bottom center, center left;
    padding: 0;
    width: 100%;
    padding-left: 17px;
    padding-right: 16px;
    padding-top: 65px;
    padding-bottom: 300px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/girl-flag-bg-mobile@2x.jpg"), url("../img/backpack-mobile@2x.png");
    }
  }

  h2 {
    @include reset;
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    color: $blue;
    letter-spacing: -1px;
    text-transform: uppercase;
    margin-bottom: 22px;

    @media (max-width: $max-mobile-width) {
      font-size: 32px;
      line-height: 39px;
      text-align: center;
    }
  }

  p {
    font-size: 17px;
    line-height: 29px;
    width: 400px;
    margin-bottom: 64px;
    margin-top: 0;

    @media (max-width: $max-mobile-width) {
      font-size: 16px;
      line-height: 26px;
      width: 100%;
      margin-bottom: 25px;
    }
  }
}

.request__form {
  display: flex;
  position: relative;
  width: 100%;

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
  }

  label {
    width: 100%;
  }

  .request__input {
    width: 100%;
  }

  .button {
    margin: 0;
    position: absolute;
    right: 0;
    padding-left: 36px;
    padding-right: 37px;
    font-size: 15px;
    letter-spacing: 1px;

    @media (max-width: $max-mobile-width) {
      position: relative;
      left: unset;
      display: block;
      width: 264px;
      margin: 0 auto;
    }
  }
}
