.review {
  max-width: 1366px;
  margin: 0 auto;
  padding: 128px 184px 109px 98px;
  background-image: url("../img/review-sketch-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center right;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/review-sketch-desktop@2x.png");
  }

  h2 {
    @include reset;
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    color: $blue;
    letter-spacing: -2px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;

    @media (max-width: $max-mobile-width) {
      text-align: center;
      margin-bottom: 50px;
      font-size: 32px;
      line-height: 39px;
    }
  }

  /*
  .review__item {
    display: none;
    //display: flex;
    justify-content: space-between;
    width: 100%;

    &--active {
      display: flex;
    }
  }
  */
  .review__description {
    width: 680px;
    margin-left: auto;
    font-size: 17px;
    line-height: 29px;
    text-align: left;
    background-color: transparent;

    span {
      color: $blue;
      font-size: 15px;
      line-height: 21px;
    }

    a {
      text-decoration: underline;
      color: $blue;
      margin-bottom: 50px;
      display: block;
      padding-bottom: 5px;
      width: 160px;
    }
  }

  .review__author {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
  }

  /*
  .review__pagination {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  */
  .review__social-list {
    @include list-reset;
    display: flex;
    margin-left: auto;
    align-self: flex-end;
    //list-style: none;
    position: absolute;
    /* bottom: 60px; */
    right: 150px;

    li {
      margin-right: 20px;
    }

    svg {
      fill: grey;
    }
  }
}

/*
.slider {
  display: flex;

  .slider__slides {
    margin-right: 10px;
  }

  .slider__buttons {
    display: flex;
    flex-direction: row;

    svg {
      margin-left: 10px;
      margin-right: 10px;
      fill: transparent;
    }

    .slider__button--next {
      transform: rotate(180deg);
    }
  }
}
*/
/*
.review__container {
  background-color: pink;
}
*/

/*
.review__slider {
  //background-color: yellow;
  display: flex;
  transition: 0.2s;
}
*/

.review__pagination-buttons {
  display: flex;
  align-items: center;
  padding-left: 350px;
}

.review__pagination {
  width: 20px;
  position: relative;
  display: flex;
  padding-left: 0;

  span {
    font-size: 17px;
    line-height: 26px;
  }
}

.review__buttons {
  width: 120px;
  height: 50px;
  display: flex;
  margin-left: 20px;
  padding-left: 0;
}

.review__button-prev {
  position: relative;
  display: block;
  margin-right: 30px;
  //width: 50px;
  //height: 50px;
  //border: 1px solid black;

  &::after {
    display: none;
  }

  svg {
    //z-index: 100;
    fill: transparent;
    transform: scale(3);
    //opacity: 0;
  }
}

.review__button-next {
  position: relative;
  display: block;
  //width: 50px;
  //height: 50px;
  //border: 1px solid black;

  &::after {
    display: none;
  }

  svg {
    //transform: scale(2);
    fill: transparent;
    transform: scale(3) rotate(180deg);
    //opacity: 0;
  }
}

/*
.swiper__container {
  position: relative;
}
*/

/*
.swiper-pagination {
  position: absolute;
  top: 450px;
  left: 0;
}
*/
/*
.swiper-buttons {
  position: absolute;
  top: 450px;
  left: 20px;
  display: flex;
  width: 20px;
  justify-content: space-between;

  svg {
    fill: transparent;
  }
}
*/

.swiper-container {
  width: 100%;
  height: 100%;
}

.review__item {
  text-align: center;
  font-size: 18px;
  //background: white;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.review__item {
  display: flex;
  //background-color: transparent;
  //background: none;
  background: transparent;
}
*/
/*
.review__pagination {
  text-align: left;
  margin-left: 250px;
}
*/
