.review {
  max-width: 1366px;
  margin: 0 auto;
  padding: 35px 184px 85px 98px;
  background-image: url("../img/review-sketch-desktop@1x.png");
  background-repeat: no-repeat;
  background-size: 43%;
  background-position: right 70px;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/review-sketch-desktop@2x.png");
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 16px;
  }

  h2 {
    @include reset;
    font-family: "montserrat", "Arial", sans-serif;
    font-size: 40px;
    line-height: 49px;
    font-weight: 700;
    color: $blue;
    letter-spacing: -1px;
    text-transform: uppercase;
    //text-align: center;
    width: 100%;
    padding-left: 485px;

    @media (max-width: $max-mobile-width) {
      text-align: center;
      margin-bottom: 50px;
      font-size: 32px;
      line-height: 39px;
    }
  }

  .review__description {
    width: 680px;
    margin-left: auto;
    font-size: 17px;
    line-height: 29px;
    text-align: left;
    background-color: transparent;
    padding-top: 45px;

    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      margin: 0;
    }

    @media (max-width: $max-mobile-width) {
      width: 100%;
    }

    p {
      @include reset;
      margin-bottom: 28px;

      @media (max-width: $max-mobile-width) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .review__text {
      margin-bottom: 18px;
    }

    span {
      color: $blue;
      font-size: 15px;
      line-height: 21px;
    }

    a {
      text-decoration: underline;
      color: $blue;
      margin-bottom: 50px;
      display: block;
      padding-bottom: 5px;
      width: 160px;
    }
  }

  .review__author {
    @include reset;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .review__social-list {
    @include list-reset;
    display: flex;
    margin-left: auto;
    align-self: flex-end;
    position: absolute;
    right: 150px;

    @media (max-width: $max-mobile-width) {
      right: unset;
    }

    li {
      margin-right: 20px;
    }

    svg {
      fill: grey;
      opacity: 0.5;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.review__pagination-buttons {
  display: flex;
  align-items: center;
  padding-left: 405px;
  margin-top: -30px;

  @media (max-width: $max-mobile-width) {
    position: absolute;
    padding-left: 0;
    top: 320px;
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

.review__pagination {
  width: 20px;
  position: relative;
  display: flex;
  padding-left: 0;

  span {
    font-size: 17px;
    line-height: 26px;
  }
}

.review__buttons {
  width: 120px;
  height: 50px;
  display: flex;
  margin-left: 20px;
  padding-left: 0;

  @media (max-width: $max-mobile-width) {
    width: 50px;
    //margin-left: 50px;
  }
}

.review__button-prev {
  position: relative;
  display: block;
  margin-right: 30px;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition: 0.3s ease;
  }

  @media (max-width: $max-mobile-width) {
    //position: absolute;
    margin-right: 50px;
  }

  &::after {
    display: none;
  }

  svg {
    fill: transparent;
    opacity: 0.5;
    transform: scale(1.5);
  }
}

.review__button-next {
  position: relative;
  display: block;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    transition: 0.3s ease;
  }

  @media (max-width: $max-mobile-width) {
    //position: absolute;
  }

  &::after {
    display: none;
  }

  svg {
    fill: transparent;
    opacity: 0.5;
    transform: scale(1.5) rotate(180deg);
  }
}

.review__container {
  width: 100%;
  height: 100%;
  position: relative;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    width: 100%;
  }
}

.review__wrapper {
  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    width: 100%;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }
}

.review__item {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  //align-items: center;

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    width: 100%;
    flex-wrap: wrap;
  }

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
    width: 100%;
  }

  img {
    @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
      height: 320px;
      width: 240px;
    }

    @media (max-width: $max-mobile-width) {
      height: 320px;
      width: 240px;
    }
  }
}
